{% extends 'control/base.html' %}
{% block title %}Todo los productos {% endblock %}
{% block products_active %}active{% endblock %}
{% block body %}
<div class="container-fluid products-container">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'control:productos' 'all' %}">View All</a> </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>codigo de producto</th>
                                <th>nombre de producto</th>
                                <th>marca </th>
                                <th>categoria</th>
                                <th>cantidad </th>
                                <th>precio unit </th>
                                <th>fecha ingreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in product_list %}
                                <tr>
                                    <td>{{ product.cod_product }}</td>
                                    <td>{{ product.nome_product }}</td>
                                    <td>{{ product.marca_product }}</td>
                                    <td>{{ product.cant_product }}</td>
                                    <td><a href="{% url 'control:detail' product.category.id %}">
                                        <img src="{{ product.category.category_logo.url }}" class="img-responsive" style="wodth: 20px; float: left; margin-right: 10px;">
                                    </a><a href="{% url 'product:detail' product.category.id %}">{{ product.category.name_category }}</a></td>
                                    <td>{{ product.precio_unitario }}</td>
                                    <td>{{ product.fecha_ingreso }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}